BookARestaurant.suo
*.suo
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb
*.vcproj.*.user
*.csproj.user
*.pubxml.user
[Dd]ebug
[Rr]elease
[Bb]in
!packages/*
!.nuget/*
bin/
obj/
App_Data/
.vs/config/applicationhost.config
!*.dll
dist
node_modules
